.hero {
  width: 99vw;
  z-index: 2;
}

.navMovil {
  display: none;
}

.nav {
  display: grid;
  grid-template-columns: minmax(50px, 1fr) 1fr 1fr 1fr 1fr 5fr;
  padding: 1%;
  padding-right: 3%;
  padding-top: 3%;
  background: black;
}

.nav p {
  text-align: center;
  align-items: center;
  color: white;
  font-family: "Blinker", sans-serif;
}

.nav .btn {
  display: grid;
  justify-content: end;
}

.btn button {
  display: grid;
  color: white;
  font-family: "Blinker", sans-serif;
  font-size: 1em;
  font-weight: 900;
  background: linear-gradient(
    135deg,
    rgba(27, 146, 213, 1) 18%,
    rgba(55, 0, 172, 1) 74%
  );
  border-radius: 4px;
  width: 10vw;
  height: 5vh;
  border: none;
  align-items: center;
}

.title {
  display: grid;
  height: 100%;
  color: white;
  font-family: "Blinker", sans-serif;
  padding: 4%;
  padding-top: 3%;
  grid-template-columns: 1fr 1fr; /* Una columna para el contenido */
  grid-template-rows: auto auto auto auto; /* Cuatro filas para los elementos */
  gap: 10px; /* Espaciado entre las filas */
  background: black;
}

.title h3 {
  font-size: 3vw;
  font-weight: 300;
  grid-column: 1/2;
  grid-row: 1; /* Coloca h3 en la primera fila */
}

.title h1 {
  font-family: "Commissioner", sans-serif;
  font-size: 10.3vw;
  grid-column: 1/2;
  width: 95vw;
  grid-row: 2; /* Coloca h1 en la segunda fila */
}

.title h2 {
  font-size: 5vw;
  grid-column: 1/2;
  background: linear-gradient(
    135deg,
    rgba(27, 146, 213, 1) 8%,
    rgb(81, 0, 255) 25%
  );

  background-clip: text; /* Aplicar el fondo de degradado al texto */
  -webkit-background-clip: text; /* Para navegadores WebKit (Safari, Chrome) */
  color: transparent; /* Hacer el texto transparente para que se vea el fondo de degradado */
  grid-row: 3; /* Coloca h2 en la tercera fila */
}

.title ul {
  grid-row: 4;
  grid-column: 1;
  margin-top: 3%;
  z-index: 100;
  background: none;
}

ul {
  display: grid;
  width: 28vw;
  grid-template-columns: minmax(10px, 1fr) 1fr 1fr 1fr;
}

ul li {
  border-radius: 2px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: none;
}

.icon {
  font-size: 3.2em;
  color: rgb(81, 0, 255);
  background: none;
}

.logo {
  position: absolute;
  width:44vw;
  height: 100vh;
  /* border: 2px solid greenyellow; */
  top: 5%;
  grid-column: 1/2;
  grid-row: 1/5; /* Coloca el logo en la cuarta fila */
  justify-self: right;
  align-self: flex-end;
  margin-left: 65vw;
  background: url("../../assets//cutDef.png");
  background-repeat: no-repeat;
  background-size: contain;
}

@media (max-width: 980px) {
  .btn button {
    width: 18vw;
  }
  .title {
    gap: 1em;
  }

  .title h3 {
    font-size: 5vw;
  }

  .title h2 {
    font-size: 7vw;
  }

  .logo {
    background: url("../../assets//cutDef.png");
    background-size: contain;
    background-repeat: no-repeat;
    grid-row: 2/5;
    margin-right: 0;
  }

  .title ul {
    width: 40vw;
  }

  .icon {
    width: 100%;
    height: 100%;
    color: rgb(27, 108, 213);
  }
}

@media (max-width: 680px) {
  .navMovil {
    background: black;
    color: white;
    width: 98vw;
    display: grid;
    grid-template-columns: minmax(50px, 3fr) 3fr;
    padding: 1%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 5%;
    margin-bottom: 5%;
    background: black;
    justify-content: space-evenly;
  }

  .navMovil .icon {
    display: flex;
    font-size: 2.7em;
    color: white;
    justify-self: right;
    align-self: flex-end;
    padding-right: 68%;
  }

  .navMovil .btnMovil{
    align-self: center;
    padding-left: 30%;
  }

  .navMovil .btnMovil button {
    display: grid;
    color: white;
    font-family: "Blinker", sans-serif;
    font-size: 1em;
    font-weight: 900;
    background: linear-gradient(
      135deg,
      rgba(27, 146, 213, 1) 18%,
      rgba(55, 0, 172, 1) 74%
    );

    border-radius: 8px;
    width: 30vw;
    height: 3.5vh;
    border: none;
    align-items: center;
  }
  

  .nav {
    display: none;
  }

  .title h3 {
    font-size: 7vw;
  }

  .title h1 {
    font-size: 46vw;
    width: 95vw;
  }

  .title h2 {
    font-size: 11vw;
    width: 50%;
    background: linear-gradient(
    135deg,
    rgba(27, 146, 213, 1) 30%,
    rgb(81, 0, 255) 55%
  );

  background-clip: text; /* Aplicar el fondo de degradado al texto */
  -webkit-background-clip: text; /* Para navegadores WebKit (Safari, Chrome) */
  color: transparent; /* Hacer el texto transparente para que se vea el fondo de degradado */
    
  }

  .title ul {
    justify-self: center;
    width: 80vw;
    height: 15vh;
    margin-top: 8%;
  }

  .title ul li {
    border-radius: 2px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
  }
  
  .title ul li .icon {
    color: rgba(55, 0, 172, 1) ;
  }
  

  .logo {
    position: absolute;
    background: url("../../assets//cutDef.png");
    background-size: cover;
    background-repeat: no-repeat;
    grid-row: 3/5;
    width:70vw;
    height: 47vh;
    /* border: 2px solid greenyellow; */
    top: -34%;
    right: -15%;
  }
}
