/* Estilo para la superposición del modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente oscuro */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0; /* Asegura que esté por encima de otros elementos */
}

/* Estilo para el contenido del modal */
.modal {
  background: #fff; /* Fondo blanco */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Sombra ligera */
  max-width: 80%;
  max-height: 80%;
  overflow-y: auto;
}

/* Estilos para el título del modal */
.modal h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

/* Estilo para el texto del modal */
.modal p {
  margin-bottom: 15px;
}

/* Estilos para la lista en el modal */
.modal ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Estilo para cada elemento de la lista en el modal */
.modal li {
  background: linear-gradient(135deg, rgb(11, 106, 162) 5%, rgba(55, 0, 172, 1) 63%);
  border-radius: 8px;
  padding: 5%;
  margin-bottom: 5px;
}

/* Estilo para el botón de cerrar en el modal */
.modal button {
  background: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

/* Cambio de color al pasar el ratón sobre el botón de cerrar */
.modal button:hover {
  background: #0056b3;
}
