.Skills{
    width: 99vw;
    height: 100%;
    display: grid;
    padding: 3%;
    grid-template-columns: minmax(100px, 1fr)  ;
}

.Skills .title h1{
    font-size:5em ;
}
.cont {
    display: grid;
    grid-template-columns: minmax(100px, 1fr) 1fr 1fr;
    grid-template-rows: auto 1fr 1fr; /* Adjusted grid-template-rows */
    color: white;
    width: 90vw;
    align-self: center;
    padding-bottom: 1%;
    padding-left: 8%;
    font-family: 'Blinker', sans-serif;
    border: 2px solid blue;
  }
  
  .info {
    border: 2px solid greenyellow;
    grid-column: 1;
    grid-row: 1 / span 3; /* Adjusted grid-row */
  }
  
  .skills {
    border: 2px solid red;
    grid-column: 2 / span 2; /* Adjusted grid-column */
    grid-row: 1; /* Adjusted grid-row */
  }
  
  .about {
    border: 2px solid peachpuff;
    grid-column: 2 / span 3; 
    grid-row: 2/4; 

  }
  
  .project {
    border: 2px solid rgb(19, 139, 61);
    grid-column: 3 / span 4;
    grid-row: 2/4; 
  }

@media (width < 900px){
    .cont {
        grid-template-columns: minmax(100px, 1fr);
        grid-template-rows: 1fr 1fr; /* Adjusted grid-template-rows */
      }
    
      .info {
        grid-row: auto; /* Reset grid-row to its default value */
      }
    
      .skills {
        grid-column: 1; /* Adjusted grid-column */
        grid-row: 2 / span 2; /* Adjusted grid-row */
      }
    
      .about,
      .project {
        grid-column: 1; /* Adjusted grid-column */
        grid-row: auto; /* Reset grid-row to its default value */
      }

    
    .cont div{
        padding-bottom: 10%;
    }
}

.cont div{
    border: 2px lid red;
}

.cont h3{
    background: linear-gradient(115deg, rgba(27,146,213,1) 10%, rgba(55,0,172,1) 64%);
    font-size: 2.5em;
    margin-bottom: 1em;
    background-clip: text; /* Aplicar el fondo de degradado al texto */
    -webkit-background-clip: text; /* Para navegadores WebKit (Safari, Chrome) */
    color: transparent;
}

.cont ul{
    display: grid;
    width: 90%;
    grid-template-columns: minmax(100px, 1fr);
    margin: 10%;
    gap: 10px;
}

.cont ul li{
    width: 80%;
    font-weight: 800;
    font-size: 1.2em;
    border-right: 2px solid rgba(27,146,213,1);
    border-bottom: 2px solid rgba(27,146,213,1);
    padding: 5%;
    border-radius: 10px;
    background: linear-gradient(135deg, rgba(27,146,213,1) 1%, rgba(55,0,172,1) 74%);
    
}

.cont ul li img{
    width: 1.5em;
}
